main {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 2%;

  article {
    @include test(2px solid #ccc, $secondaryBackground);
    color: setTextColor($secondaryBackground);
    width: 25%;
    height: 400px;
    padding: 10px;
    margin: 0;
    border: none;
    background: none;
  }
  .rated {
    color: $secondaryFont;
  }
  .book-bottom-container {
    text-align: left;
  }
  button {
    border: none;
    color: setTextColor($secondaryBackground);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $primaryButton;
    height: 100%;
    width: 100%;

    &:hover {
      background: lighten($primaryButton, 20%);
    }
  }
  h2 {
    margin: 0 auto;
    padding: 50px 15px;
    text-align: center;
    font-size: 18px;
  }
}
