$fonstStack: "Roboto", sans-serif;
$primaryButton: #000;

$primaryFont: #000;
$secondaryFont: #fff;

$primaryBackground: #f5f5f5;
$secondaryBackground: #000;

@mixin basicFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin basicLayput($margin) {
  margin: $margin;
  max-width: 1500px;
  min-width: 1100px;
}

@mixin basicInput {
  font-family: "Roboto", sans-serif;
  color: $primaryFont;
  font-weight: 300;
  font-size: 16px;
  padding-left: 10px;
  text-transform: lowercase;
}

@mixin basicButton {
  border: none;
  background: $primaryButton;
  color: setTextColor($secondaryBackground);
  font-family: $fonstStack;
  mix-blend-mode: darken;
  cursor: pointer;

  &:hover {
    background: lighten($primaryButton, 12%);
  }
  &:focus {
    outline: none;
  }
}

@mixin title {
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
}

@mixin bottomHeaderBasic($margin) {
  margin: $margin;
  display: block;
  width: 250px;
  height: 32px;
  background: none;
  border: 1px solid #000;

  &:focus {
    outline: none;
  }
}

@mixin setBackground($color) {
  background: $color;
  color: setTextColor($color);
}

@function setTextColor($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// margin and padding classes (not used, keeping for ref)
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .p-#{$space} {
    margin: #{$space}rem;
  }
  .py-#{$space} {
    margin: #{$space}rem 0;
  }
}
