header {
  margin-bottom: 40px;

  h1 {
    font-family: "Bungee Shade", cursive;
    color: setTextColor($secondaryBackground);
    background: $secondaryBackground;
    font-size: 56px;
    padding: 30px 4%;
    mix-blend-mode: darken;
  }

  input {
    @include bottomHeaderBasic(20px 0 0 4%);
    @include basicInput;

    &::placeholder {
      @include basicInput;
    }
  }
  select {
    @include bottomHeaderBasic(6px 0 0 4%);
    @include basicInput;
    padding-left: 16px;
  }
}
