$myColor: #808080;
$primaryButton: blue;

@mixin test($border, $background) {
  padding: 30px;
  margin: 10px;
  border: $border;
  background: $background;
}

@import "main";

h1 {
  color: $myColor;
}

header {
  @include test(1px solid black, lightblue);
  // @extend h1;
}

main {
  article {
    @include test(2px solid #ccc, mistyrose);
  }
  button {
    background: $primaryButton;
    &:hover {
      background: lime;
    }
  }
}
