@import "./styles/config";
@import "./styles/header";
@import "./styles/booklist";
@import "./styles/footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fonstStack;
}

@import "./styles/mobile";
